/* SECOND SECTION  */

main{
    background-color: #F1F1F1;
}

.main-container-player{
    padding-top: 70px;
    margin-left: 180px;
    margin-right: 210px;
    margin-bottom: 80px;
    
}


.image-players img{
    width: 300px;
    height: 256px;
}


.container-players-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    
}

.players-box{
    width: 300px;
    height: 440px;
    border: 1px solid #FFFFFF;
    padding: 15px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    
  
}

.player-name{
    color: #18191F;
    font-size: 28px;
    margin-top: 18px;
    margin-bottom: 10px;
}


.player-description{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
   
}

.player-name-description{
    margin-bottom: 33px;
}



.player-box-row-gap{
    margin-top: 27px;
}

