*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* FIRST SECTION */

.main-container-copa{
    width: 100% ;
    height: 677px;
    background-color:rgb(93,15,227);
}

.container-copa-america{
    display: flex;
    align-items: center;

}

.copa-america-2021{
    width: 40%;
}

.image-copa-america img{
    width: 100%;
}

.copa-title-btn{
    margin-left: 156px;
    margin-top: 121px;
    margin-bottom: 120px;
}

.copa-america-title{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
    
    
}

.button-watch-live{
    margin-top: 27px;
    

}

.btn-watch{
    border: 1px solid #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color:#E02C6D;
    text-decoration: none;
    
}

.fa-arrow-right{
    padding-left: 5px;
    
}


.btn-watch:hover .fa-arrow-right{
    transform: translate(10px);
    transition: transform .7s ease-in-out;
    -webkit-transform: translate(10px);
    -moz-transform: translate(10px);
    -ms-transform: translate(10px);
    -o-transform: translate(10px);
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
}

.image-copa-america{
    width: 556px;
    height: 438px;
    margin-top: 153px;
    margin-right: 140px;
    
}

.image-copa-america:hover{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transition: transform 5s ease-in;
    -webkit-transition: transform 5s ease-in;
    -moz-transition: transform 5s ease-in;
    -ms-transition: transform 5s ease-in;
    -o-transition: transform 5s ease-in;
}



/* SECOND SECTION  */

main{
    background-color: #F1F1F1;
}

.main-container-player{
    padding-top: 70px;
    margin-left: 180px;
    margin-right: 210px;
    margin-bottom: 80px;
    
}


.image-neymar img{
    width: 300px;
    height: 256px;
}


.player-box-1st-row, .player-box-2nd-row, .player-box-3rd-row,.player-box-4th-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 27px;
    
}

.container-player-box{
    width: 300px;
    height: 440px;
    border: 1px solid #FFFFFF;
    padding: 15px;
    background: #FFFFFF;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  
}

.player-name{
    color: #18191F;
    font-size: 28px;
    margin-top: 18px;
    margin-bottom: 10px;
}


.player-description{
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 400;
   
}

.player-name-description{
    margin-bottom: 33px;
}



.player-box-row-gap{
    margin-top: 27px;
}



/* THIRD SECTION */

.main-container-highlights-copa{
    margin-top: 165px;
}

.container-highlights{
    display: flex;
    align-items: center;
}

.copa-highlights-2021{
    width: 50%;

}
.image-copa-highlights img{
    width: 567px;
    height: 427px;
}

.highlights-title-description{
    margin-left:  182px;
    margin-right: 120px;
    
}

.highlights-title{
    font-size: 48px;
    font-weight: 900;
    color: #0A0826;
}

.highlights-description{
    font-size: 16px;
    font-weight: 400;
    color: #6C6C6C;
    margin-right: 70px;
    
    margin-top: 8px;

}


.button-highlights-watch-live{
    margin-top: 34px;
    
}

.btn-highlights{
    border: 1px solid #E02C6D;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color:#E02C6D;
    text-decoration: none;
    
}


.fa-arrow-right{
    padding-left: 5px;
    
}


.btn-highlights:hover{
    background-color: #FFFFFF;
    color: black;
    border: 1px solid black;
}

.btn-highlights:hover .fa-arrow-right{
    transform: translate(15px);
    -webkit-transform: translate(15px);
    -moz-transform: translate(15px);
    -ms-transform: translate(15px);
    -o-transform: translate(15px);
    transition: transform 1s ease-in;
    -webkit-transition: transform 1s ease-in;
    -moz-transition: transform 1s ease-in;
    -ms-transition: transform 1s ease-in;
    -o-transition: transform 1s ease-in;
}

.image-copa-highlights{
    margin-right: 156px ;
    

}


.image-copa-highlights:hover img{
    transform: scale(1.5);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transition: transform 2s ease-in;
    -webkit-transition: transform 2s ease-in;
    -moz-transition: transform 2s ease-in;
    -ms-transition: transform 2s ease-in;
    -o-transition: transform 2s ease-in;
}



/* FOURTH SECTION */

.main-container-footy{
    margin-top: 165px;
    width: 100%;
    height: 300px;

}
.footy-description{
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
}

.description-footy{
    font-size: 23px;
    color: #212529;
}

.footy-feature-box{
    
    display: flex;
    justify-content: center;
    
}

.footy-feature-box{
  
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footy-title{
 width: 30%;
}

.footy-box{
    border: 1px solid #bdb1b1;
    padding: 30px;
    margin-right: 30px;
    box-shadow: 1px 1px 5px;
}

.footy-box:hover{
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    transition: transform 4px ease-in-out;
    -webkit-transition: transform 4px ease-in-out;
    -moz-transition: transform 4px ease-in-out;
    -ms-transition: transform 4px ease-in-out;
    -o-transition: transform 4px ease-in-out;
}




/* FIFTH SECTION/FOOTER */


.main-container-footer{
    margin-top: 158px;
    margin-bottom: 63px;
}

.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-footer img{
    width: 438px;
    height: 110px;

}

.fab{
    padding-right: 15px;
}
.footer-icon{
    margin-bottom: 20px;
}

 /* End */







/* ----------------------
MEDIA QUERY FOR MOBILE DEVICE 
---------------------------- */




 /* FIRST SECTION */

@media only screen and (max-width:688px) {
     .main-container-copa{
        width: 400px ;
        height: 677px;
        background-color:rgb(93,15,227);
        overflow-x: hidden;
        overflow-y: hidden;
    }
    
    .container-copa-america{
        
        flex-direction: column;
      
    
    }
    
    .copa-america-2021{
        width: 100%;
        margin-right: 20%;
       
    }
    
    .image-copa-america img{
        width: 30%;
        
        position: relative;
        left: 60px;
        top: -50px;
    
    }
    
    .copa-america-title{
        font-family: 'Poppins', sans-serif;
        font-size: 44px;
        font-weight: 700;
        color: #FFFFFF;
        flex-wrap: wrap;
        
        
    }
    
    
    .image-copa-america{
        
        height: 438px;
        margin-top: 1px;
        margin-right: 100%;
        
    }
    
    .image-copa-america:hover{
        transform: rotate(2deg);
        -webkit-transform: rotate(2deg);
        -moz-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
        -o-transform: rotate(2deg);
        transition: transform 5s ease-in;
        -webkit-transition: transform 2s ease-in;
        -moz-transition: transform 5s ease-in;
        -ms-transition: transform 5s ease-in;
        -o-transition: transform 5s ease-in;
}
    .copa-america-title{
        margin-right: 70%;
        
    }
    .copa-america-text{
        font-size: 30px;
    }

    /* SECOND SECTION */

    .player-box-1st-row, .player-box-2nd-row, .player-box-3rd-row,.player-box-4th-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 27px;
       
        
    }
    
    .main-container-player{
        padding-top: 70px;
        margin-left: 10px;
        
        margin-bottom: 80px;
       
        
    }

    .container-player-box{
        width: 100%;
        height: 440px;
        border: 1px solid #FFFFFF;
        padding: 15px;
        background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
      
    }
    .image-neymar img{
        width: 100%;
        height: 100%;
    }
 

    /* THIRD SECTION  */

    .container-highlights{
        flex-direction: column;
    }

    .copa-highlights-2021{
        width: 65%;
    
    }
    
    .highlights-title{
        font-size: 28px;
    }
    
    .highlights-title-description{
        margin-left: 10px;
        margin-right: 130px;
        
    }
    .image-copa-highlights img {

    display: none;
    }

    
    /* FOURTH SECTION */

    
    
    .footy-feature-box{
        flex-direction: column;
        
        
    }
    .footy-box{
        margin-top: 20px;
    }

    .footy-description{
       
        margin: 0;
        
    }
    .description-footy{
        margin-right: 45%;
        margin-left: 10px;
    }


 /* FIFTH SECTION */

 .image-footer img{
     width: 50%;
 }
 
 .container-footer{
     margin-top: 230%;
 }

 .fab{
     padding-right: 15px;
     

 }
 .footer-icon{
     margin-right: 110px;
 }
small{
    margin-right: 130px;
}

}





/* ----------------------
MEDIA QUERY FOR TABLET DEVICE 
---------------------------- */

/* FIRST SECTION */

@media only screen and (max-width:688px) {
    .main-container-copa{
       width: 400px ;
       height: 677px;
       background-color:rgb(93,15,227);
       overflow-x: hidden;
       overflow-y: hidden;
   }
   
   .container-copa-america{
       
       flex-direction: column;
     
   
   }
   
   .copa-america-2021{
       width: 100%;
       margin-right: 20%;
      
   }
   
   .image-copa-america img{
       width: 30%;
       
       position: relative;
       left: 60px;
       top: -50px;
   
   }
   
   .copa-america-title{
       font-family: 'Poppins', sans-serif;
       font-size: 44px;
       font-weight: 700;
       color: #FFFFFF;
       flex-wrap: wrap;
       
       
   }
   
   
   .image-copa-america{
       
       height: 438px;
       margin-top: 1px;
       margin-right: 100%;
       
   }
   
   .image-copa-america:hover{
       transform: rotate(2deg);
       -webkit-transform: rotate(2deg);
       -moz-transform: rotate(2deg);
       -ms-transform: rotate(2deg);
       -o-transform: rotate(2deg);
       transition: transform 5s ease-in;
       -webkit-transition: transform 2s ease-in;
       -moz-transition: transform 5s ease-in;
       -ms-transition: transform 5s ease-in;
       -o-transition: transform 5s ease-in;
}
   .copa-america-title{
       margin-right: 70%;
       
   }
   .copa-america-text{
       font-size: 30px;
   }

   /* SECOND SECTION */

   .player-box-1st-row, .player-box-2nd-row, .player-box-3rd-row,.player-box-4th-row{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
       grid-column-gap: 30px;
       grid-row-gap: 27px;
      
       
   }
   
   .main-container-player{
       padding-top: 70px;
       margin-left: 10px;
       
       margin-bottom: 80px;
      
       
   }

   .container-player-box{
       width: 100%;
       height: 440px;
       border: 1px solid #FFFFFF;
       padding: 15px;
       background: #FFFFFF;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
     
   }
   .image-neymar img{
       width: 100%;
       height: 100%;
   }


   /* THIRD SECTION  */

   .container-highlights{
       flex-direction: column;
   }

   .copa-highlights-2021{
       width: 65%;
   
   }
   
   .highlights-title{
       font-size: 28px;
   }
   
   .highlights-title-description{
       margin-left: 10px;
       margin-right: 130px;
       
   }
   .image-copa-highlights img {

   display: none;
   }

   
   /* FOURTH SECTION */

   
   
   .footy-feature-box{
       flex-direction: column;
       
       
   }
   .footy-box{
       margin-top: 20px;
   }

   .footy-description{
      
       margin: 0;
       
   }
   .description-footy{
       margin-right: 45%;
       margin-left: 10px;
   }


/* FIFTH SECTION */

.image-footer img{
    width: 50%;
}

.container-footer{
    margin-top: 230%;
}

.fab{
    padding-right: 15px;
    

}
.footer-icon{
    margin-right: 110px;
}
small{
   margin-right: 130px;
}


}

